%% -*- erlang -*-
{cover_enabled, true}.
{cover_opts, [verbose]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{dialyzer, [{plt_extra_apps, [kernel, stdlib]}]}.
{erl_opts, [fail_on_warning]}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{lib_dirs,["deps"]}.
{minimum_otp_vsn, "R16B03"}.
